NODE_ENV=development
PORT=5001
MONGODB_URI=mongodb://localhost:27017/knoukno_net
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@knoukno.net
WEB_URL=http://localhost:3000
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_API_BASE=https://api-m.sandbox.paypal.com
