extends layout

block content
  h2 Rate Submission
  h3= submission.question && submission.question.text
  p Answer: #{submission.answerText}
  form(method='post' action=`/admin/rate/${submission._id}`)
    label Rating (1-50)
    input(type='number' name='rating' min='1' max='50' required)
    button(type='submit') Save Rating
  a(href='/admin') Back
