extends layout

block content
  h2 Forgot Password
  if message
    p.notice #{message}
  if token
    p.code #{token}
  form(method='post' action='/auth/forgot')
    label Email
    input(type='email' name='email' required)
    button(type='submit') Send Reset
