extends layout

block content
  h2 Payment Successful
  p Thank you — your membership will be activated shortly. If it doesn't appear, wait a few minutes or contact support.
  a(href='/questions') Back to Questions
