extends layout

block content
  h2 Reset Password
  if error
    p.error #{error}
  if token
    form(method='post' action=`/auth/reset/${token}`)
      label New password
      input(type='password' name='password' required)
      button(type='submit') Reset Password
  else
    p Unable to reset at this time.
