extends layout

block content
  .container
    h2 Titles
    if user
      form(method='post' action='/titles')
        input(type='text' name='title' placeholder='Enter title' required)
        button.button-primary(type='submit') Save
    if titles && titles.length
      ul
        each t in titles
          li
            a(href=`/titles/${t._id}`)= t.title
    else
      p No titles yet.

