MONGO_URI=mongodb://localhost:27017/kno
PORT=3000
JWT_SECRET=change-me-please
FRONTEND_URL=http://localhost:3000
MAIL_FROM=no-reply@knoukn o.com
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# Optional ethereal (for testing) set ETHEREAL_USER and ETHEREAL_PASS
ETHEREAL_USER=
ETHEREAL_PASS=
